In [370]:
import pandas as pd
import numpy as np

# Read in the data
df_coinmetrics = pd.read_csv('data_raw/coinmetrics.csv', low_memory=False)
df_coinmarketcap = pd.read_csv('data_raw/coinmarketcap.csv', low_memory=False)

In [371]:
# Standardize the date format
df_coinmarketcap['date'] = df_coinmarketcap['date'].apply(lambda x: x.split()[0])
df_coinmarketcap['date']

0       2022-03-01
1       2022-02-28
2       2022-02-27
3       2022-02-26
4       2022-02-25
           ...
2646    2014-12-02
2647    2014-12-01
2648    2014-11-30
2649    2014-11-29
2650    2014-11-28
Name: date, Length: 2651, dtype: object

In [372]:
# Time-frame
start_date = '2015-01-01'
end_date = '2022-03-01'

# Filter data
df_coinmetrics = df_coinmetrics[(df_coinmetrics['time'] >= start_date) & (df_coinmetrics['time'] <= end_date)]
df_coinmarketcap = df_coinmarketcap[(df_coinmarketcap['date'] >= start_date) & (df_coinmarketcap['date'] <= end_date)]

# Sort by date
df_coinmetrics = df_coinmetrics.sort_values(by=['time'])
df_coinmarketcap = df_coinmarketcap.sort_values(by=['date'])

In [373]:
df_coinmetrics = df_coinmetrics.reset_index(drop=True)
df_coinmarketcap = df_coinmarketcap.reset_index(drop=True)

In [374]:
def get_log_returns(now, past):
    return np.log(now) - np.log(past)

def get_parkinson_volatility(high, low):
    return (np.log(high) - np.log(low)) / (2. * np.sqrt(np.log(2)))

def get_relative_price_change(high, low):
    return 2. * (high - low) / (high + low)

In [375]:
# Calculate log returns at lag 1-7
log_ret = [get_log_returns(df_coinmarketcap['close'], df_coinmarketcap['close'].shift(i)) for i in range(1, 8)]

In [376]:
volume_usd = df_coinmarketcap['Volume USD']

In [377]:
capitalization = df_coinmetrics['CapRealUSD']

In [378]:
relative_price_change = get_relative_price_change(df_coinmarketcap['high'], df_coinmarketcap['low'])

In [379]:
parkinson_volatility = [ get_parkinson_volatility(df_coinmarketcap['high'].shift(i), df_coinmarketcap['low'].shift(i)) for i in range(1, 8)]

In [380]:
pd.DataFrame(parkinson_volatility).T

             0         1         2         3         4         5         6
0          NaN       NaN       NaN       NaN       NaN       NaN       NaN
1     0.015925       NaN       NaN       NaN       NaN       NaN       NaN
2     0.009644  0.015925       NaN       NaN       NaN       NaN       NaN
3     0.063111  0.009644  0.015925       NaN       NaN       NaN       NaN
4     0.076849  0.063111  0.009644  0.015925       NaN       NaN       NaN
...        ...       ...       ...       ...       ...       ...       ...
2612  0.087687  0.035292  0.033633  0.042257  0.033485  0.013266  0.023090
2613  0.026270  0.087687  0.035292  0.033633  0.042257  0.033485  0.013266
2614  0.026345  0.026270  0.087687  0.035292  0.033633  0.042257  0.033485
2615  0.044865  0.026345  0.026270  0.087687  0.035292  0.033633  0.042257
2616  0.099981  0.044865  0.026345  0.026270  0.087687  0.035292  0.033633

[2617 rows x 7 columns]

In [381]:
median_value = df_coinmetrics['TxTfrValMedUSD']
median_value

0         6.162407
1         3.819748
2         1.316124
3         2.635763
4         5.997284
           ...
2612    103.537914
2613     95.898936
2614     91.549519
2615    125.905956
2616    120.711201
Name: TxTfrValMedUSD, Length: 2617, dtype: float64

In [382]:
tx_count = df_coinmetrics['TxCnt']
tx_count

0        60177.0
1        83050.0
2        81404.0
3        82769.0
4        95721.0
          ...
2612    260990.0
2613    221994.0
2614    206112.0
2615    274389.0
2616    275460.0
Name: TxCnt, Length: 2617, dtype: float64

In [383]:
new_coins = df_coinmetrics['IssContNtv']
new_coins

0       4125.00
1       4125.00
2       4050.00
3       4300.00
4       3900.00
         ...
2612     837.50
2613     781.25
2614     850.00
2615     962.50
2616    1012.50
Name: IssContNtv, Length: 2617, dtype: float64

In [384]:
total_fees = df_coinmetrics['FeeTotUSD']
total_fees

0         2580.250970
1         3898.661859
2         3338.335795
3         5680.989855
4         4399.997048
            ...
2612    449039.427813
2613    263340.238548
2614    258431.510922
2615    413568.390589
2616    903615.185691
Name: FeeTotUSD, Length: 2617, dtype: float64

In [385]:
median_fees = df_coinmetrics['FeeMedUSD']
median_fees

0       0.031478
1       0.031594
2       0.028565
3       0.026333
4       0.027500
          ...
2612    0.385373
2613    0.288238
2614    0.250847
2615    0.309595
2616    0.705805
Name: FeeMedUSD, Length: 2617, dtype: float64

In [386]:
active_addresses = df_coinmetrics['AdrActCnt']
active_addresses

0        145765.0
1        212932.0
2        241755.0
3        235011.0
4        242515.0
          ...
2612     936543.0
2613     818914.0
2614     768705.0
2615     981066.0
2616    1065354.0
Name: AdrActCnt, Length: 2617, dtype: float64

In [387]:
average_difficulty = df_coinmetrics['DiffMean']
average_difficulty

0       4.064096e+10
1       4.064096e+10
2       4.064096e+10
3       4.064096e+10
4       4.064096e+10
            ...
2612    2.796715e+13
2613    2.796715e+13
2614    2.796715e+13
2615    2.796715e+13
2616    2.796715e+13
Name: DiffMean, Length: 2617, dtype: float64

In [388]:
number_of_blocks = df_coinmetrics['BlkCnt']
number_of_blocks

0       165.0
1       165.0
2       162.0
3       172.0
4       156.0
        ...
2612    134.0
2613    125.0
2614    136.0
2615    154.0
2616    162.0
Name: BlkCnt, Length: 2617, dtype: float64

In [389]:
block_size = df_coinmetrics['BlkSizeMeanByte']
block_size

0       1.908026e+05
1       2.759575e+05
2       2.929958e+05
3       2.746800e+05
4       3.628934e+05
            ...
2612    1.293916e+06
2613    1.163692e+06
2614    1.009490e+06
2615    1.177785e+06
2616    1.289157e+06
Name: BlkSizeMeanByte, Length: 2617, dtype: float64

In [390]:
number_of_payements = df_coinmetrics['TxTfrCnt']
number_of_payements

0       152648.0
1       241133.0
2       266646.0
3       244195.0
4       264832.0
          ...
2612    833323.0
2613    709986.0
2614    689832.0
2615    843962.0
2616    860896.0
Name: TxTfrCnt, Length: 2617, dtype: float64

In [391]:
on_chain_volume = df_coinmetrics['TxTfrValAdjNtv']
on_chain_volume

0       102135.882070
1       149397.417177
2       277500.536361
3       226786.020740
4       254454.056878
            ...
2612    401712.990960
2613    148529.765933
2614    183812.226348
2615    715974.414477
2616    594429.025507
Name: TxTfrValAdjNtv, Length: 2617, dtype: float64

In [392]:
adjusted_on_chain_volume = df_coinmetrics['TxTfrValAdjUSD']
adjusted_on_chain_volume

0       3.214997e+07
1       4.720103e+07
2       7.926728e+07
3       5.972060e+07
4       6.997585e+07
            ...
2612    1.579687e+10
2613    5.801064e+09
2614    6.923247e+09
2615    3.091524e+10
2616    2.635369e+10
Name: TxTfrValAdjUSD, Length: 2617, dtype: float64

In [393]:
# Create a new dataframe with 7 new features, that are the one-hot representation of the day of a week
day = pd.to_datetime(df_coinmarketcap['date'])
day = day.dt.day_name()
day = pd.get_dummies(day)

In [394]:
capitalization

0       4.380336e+09
1       4.380329e+09
2       4.370060e+09
3       4.362259e+09
4       4.354468e+09
            ...
2612    4.570133e+11
2613    4.568773e+11
2614    4.566235e+11
2615    4.586766e+11
2616    4.593467e+11
Name: CapRealUSD, Length: 2617, dtype: float64

In [395]:
# Merge the dataframes
final_dataset = pd.concat([
    pd.DataFrame(df_coinmarketcap['date']),
    pd.DataFrame(log_ret).T, 
    pd.DataFrame(volume_usd),
    pd.DataFrame(capitalization),
    pd.DataFrame(relative_price_change),
    pd.DataFrame(parkinson_volatility).T,
    pd.DataFrame(median_value),
    pd.DataFrame(tx_count),
    pd.DataFrame(new_coins),
    pd.DataFrame(total_fees),
    pd.DataFrame(median_fees),
    pd.DataFrame(active_addresses),
    pd.DataFrame(average_difficulty),
    pd.DataFrame(number_of_blocks),
    pd.DataFrame(block_size),
    pd.DataFrame(number_of_payements),
    pd.DataFrame(on_chain_volume),
    pd.DataFrame(adjusted_on_chain_volume),
    day
], axis=1).dropna(axis=0).sort_values(by='date').reset_index(drop=True)

In [396]:
# Dump the dataset into csv format
final_dataset.to_csv('clean_data/data_cleaned.csv', index=False)